1.Find words with both alphabets and numbers in the given string "Emma25 is Data scientist50 and AI Expert"

In [2]:
st="Emma25 is Data scientist50 and AI Expert"
st=st.split(' ')
for i in st:
  for j in i:
    if j.isnumeric():
      print(i)
      break

Emma25
scientist50

2.Create a string made of the first, middle and last character (take inputs from users)

In [4]:
data=input("Enter any sentence")
dt=data.split(' ')
k=0
for i in dt:
  for j in i:
      
      break
print(data[0],da)

Enter any sentenceAyush Kumar Singh Rawat
A R

3.Use a loop to display all the elements from a given list present at the  odd index positions(take inputs from users)

In [ ]:
data=input('Enter data:')

4.Reverse a given integer number 789356

In [28]:
ent=789356
s=str(ent)
print(s[-1],s[-2],s[-3],s[-4],s[-5],s[-6])

6 5 3 9 8 7

5. Delete all the even elements present in the list 789356

6.Replace each special symbol with # in the following string.
"EM#%ma25 is D*ata scien$%tist50!$ and AI Ex**pert"

In [43]:
s="EM#%ma25 is Data scien and AI Ex*pert"
a=s.replace('%','#')
print(a.replace('*','#'))

EM##ma25 is Data scien and AI Ex#pert